body{
    font-family:'Courier New', Courier, monospace;
    font-size:110%;
    background-color:rgb(153, 144, 141);
  }
  
  header {
    text-align: center;
    background-color: rgb(205, 206, 153);
    border-style: radius;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(0, 225, 255);
    border-radius: 10px 20px 30px 40px; 
  }

  #headshot {
    font-size: 15px;
    background-color: rgb(135, 222, 208);
    margin: 10px;
    padding: 10px;
  }

  #picture{
    border-radius: 50%;
    padding-left: 20px;
    border-width: 40px;
    border-style: double;
  }

  menu{
    display: flex;
    border-radius: 200px;
    color: white
  }
 
  footer {
    background-color:rgb(135, 222, 208);
    text-align: center;
  }

  h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color :rgb(71, 102, 163)
  }

   section {background-color: rgba(135, 222, 208);
  font-size: medium;
  border: radius 5mm;
  }

  #h1 {
      font-size: 20px;
      font-style: italic  ;
      background-color: rgb(153, 144, 141);
      margin: 10px;
      padding: 10px;
      border-radius: 10cm;
      color:rgb(71, 102, 163)
    }

    #icon {
      width: 50px;
      height: 50px;
    }

    #main{
      display: flex;
      flex-direction: row;
    }
    #content {
      flex:5
    }
    #nav{
      flex:1
    }
    
  
  
    

    